In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing

In [2]:
df = pd.read_csv('wine_data.csv')

In [4]:
df.head(1)

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.2,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.4,1050

In [5]:
df = pd.read_csv('wine_data.csv',header=None,usecols=[0,1,2])

In [6]:
df.head(1)

   0      1     2
0  1  14.23  1.71

In [7]:
df.columns=['Class label', 'Alcohol', 'Malic acid']

In [8]:
df.head(1)

   Class label  Alcohol  Malic acid
0            1    14.23        1.71